body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/Images/pexels-fwstudio-164005.jpg')
}

@font-face {
    font-family: 'VT323';
    src: url('./assets/VT323/VT323-Regular.ttf') format('truetype');
}

.container{
    background-image: url('./assets/Images/plastic.jpeg');
    padding: 20px;
    border: 1px double black;
    border-radius: 15%;
    box-shadow: 5px 5px 5px 5px rgb(41, 38, 38);
    border: 2px black solid;
}

.btn-container{
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(5, 80px);
    justify-content: center;
   
}

.display{
    margin: 1rem;
    font-size: 33px;
    background-color: rgb(24, 202, 69);
    border: 2px double black;
    font-family: 'VT323';
    height: 3rem;
}

.display > p {
    margin: 1rem;
}

button{
    border-radius: 25%;
    font-size: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: rgb(92, 86, 86);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: 2px black solid;
}

button:active {
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: 1px black solid;
}


@media only screen and (max-width: 768px) and (max-width: 1024px){
    .container{
        width: 50%;
    }
    .btn-container{
        display: grid;
        grid-template-columns: repeat(4, 40px);
        grid-template-rows: repeat(5, 40px);
        justify-content: center;  
    }

    .display{
        font-size: 20px;
    }
  }